body {
    background-color: azure;
}
h1 {
    text-align: center;
    background-color: antiquewhite;
    font-style: italic;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h3 {
    background-color: antiquewhite;
}
.font {
    font-weight: lighter;
    font-family: sans-serif;
}
.but {
    background-color: antiquewhite;
    font-weight: bold;
    font-size: large;
}