.centertop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;    
}
.img {
    display: block;
    width: 10cm;
    height: auto;
}
h2 {
    text-align: center;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h1 {
    text-align: center;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
body {
    background-color: antiquewhite;
}
.button {
    background-color: aliceblue;
    font-size: x-large;
    font-style: italic;
    font-weight: bold; 
}