.centertop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.img {
    width: 20%;
    height: 30%;
}
.left {
    margin-left: 2cm;
}
.center {
    margin-left: 5cm;
}
.right {
    margin-left: 6cm;
}
h2 {
    text-align: center;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h1 {
    text-align: center;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
body {
    background-color: antiquewhite;
}
#but {
    background-color: aliceblue;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}
.bleft {
    margin-left: 4cm;
}
.bcenter {
    margin-left: 9cm;
}
.bright {
    margin-left: 9cm;
}