.centertop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.img {
    width: 300px;
    height: 200px;
}
.left {
    margin-left: 5%;
}
.center {
    margin-left: 10%;
}
.right {
    margin-left: 15%;
}

h1 {
    text-align: center;
    background-color: rgb(189, 189, 189);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
body {
    background-color: antiquewhite;
}
#but {
    background-color: rgb(225, 247, 240);
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}
.bleft {
    margin-left: 9%;
}
.bcenter {
    margin-left: 22%;
}
.bright {
    margin-left: 22%;
}